#fresh {
  
  margin: 5px;
  padding: 5px;
  height: 20px;
  width: 40px;
}

.label {
  font-weight: bold;
}
#message{
	margin: auto;
}
.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

form {
  margin-bottom: 5px;
}

h1{
	text-align: center;
	
}
body{
	background-color: orange;
}


#div1{
	align: middle;
	margin-left: 50%;
	margin-right: 50%
}
textarea{
	margin: auto;
}
.freshBurger{
}
.burgerEaten{
	float: right;
}
input{
	margin-left: 40%
}

.devourButton{

}